.flex-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 30px;
}

#logo {
  width: 95px;
  height: 70px;
}

.nome {
  flex: 24;
  margin: 23px 0 15px 0;
  font-size: 24px;
  font-weight: bold;
  color: #6e6e6e;
}

#botao1 {
  background: #1890ff;
  border: none;
  margin-right: 10px;
}

#botao1:hover {
  background: transparent;
  border: 1px solid #c7d6e8;
  color: #999999;
  transition: 0.2s background;
}

#botao2 {
  background: transparent;
  border: 1px solid #c7d6e8;
  color: #999999;
}

.container-card-body {
  max-width: 960px;
  margin: 120px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.card-body {
  flex: 1;
}

.card-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: #1890ff;
}

.card-text {
  font-size: 18px;
  font-weight: normal;
  color: #bfbfbf;
  margin-top: 20px;
  max-width: 480px;
}

#botao3 {
  background: #1890ff;
  width: 120px;
  border: none;
  margin-top: 40px;
}

#botao3:hover {
  background: transparent;
  border: 1px solid #c7d6e8;
  color: #999999;
  transition: 0.2s background;
}

.rounded-logo {
  flex: 2;
  align-self: flex-end;
  position: relative;
}

#elipse {
  width: 90%;
  height: 100%;
  position: relative;
  left: 100px;
  top: -160px;
}

#illustration-home {
  max-width: 350px;
  position: absolute; 
  right: 0;
  top: -140px;
}
